.btns {
    position: absolute;
    display: flex;
    gap: 1rem;
    width: 100%;
    justify-content: space-around;
    top: 1rem;
    flex-wrap: wrap;
}

button {
    color: white;
    background-color: lightgrey;
    padding: 1rem;
    border-radius: 100%;
    border-color: white;
    border: 2px solid #fefefe;
    width: 70px;
    height: 70px;
    font-size: 1rem;
    font-weight: bold;
    color: #0d1718;
}

img {
    width: 32px;
    height: 32px;
}
.dance {
    animation: 1s dance infinite step-end;
}

@keyframes dance {
    0% {
        transform: rotateY(0deg);
    }
    50% {
        transform: rotateY(-180deg);
    }
}
